@charset "utf-8";
@import url(fonts.css);

/*-------------------------------------------------------------------
    파일정의: Pages contents css
    순서:    Page name > page name > page name ...
-------------------------------------------------------------------*/

/* banner */
.subBanner {height: 575px;padding-top: 130px;}
.sub_banner_inn {position: relative;height: 100%;}
.sub_banner_text {position: absolute;top: 22%;}
.sub_banner_text h1 {font-size: 28px;margin-bottom: 21px;}
.sub_banner_text h2 {font-size: 45px;white-space: break-spaces;line-height: 66px;}

/* sponsor */

/* introduction */

/* news */

/* support */

/* Pages contents css */

